<section>
    <form id="songReviewForm">
        <input type="text" id="songTitle" placeholder="Enter song title">
        <input type="text" id="songReviewTitle" placeholder="Enter song review title">
        <textarea id="songReview" class="form-control" placeholder="Enter song review content"></textarea>
        <button type="submit" class="btn btn-success">Submit Song Review</button>
    </form>
    <form id="albumReviewForm">
        <input type="text" id="albumTitle" placeholder="Enter album title">
        <input type="text" id="albumReviewTitle" placeholder="Enter album review title">
        <textarea id="albumReview" class="form-control" placeholder="Enter album review content"></textarea>
        <button type="submit" class="btn btn-success">Submit Album Review</button>
    </form>
</section>

<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="/js/addReview.js"></script>