<form id="searchForm">
    <input type="text" id="albumInput" placeholder="Album">
    <input type="text" id="artistInput" placeholder="Artist">
    <input type="submit" value="Search" class="btn btn-success" id="searchBtn">
</form>
<div id="albumDisplay"></div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js"></script>
<script src="/js/display.js"></script> 