{{#if users.length}}
{{#each users as |user| }}
<div class="card">
<button id="user-btn" href="/users/{{user.id}}">{{user.name}}</button>
<section id="user-container">
{{#each user.albumreviews as |albumrev|}}
<h5>{{albumrev.title}}</h5>
{{/each}}
</section>
{{/each}}
</div>
{{/if}}
<script src="/js/home.js"></script>

