{{#if users.length}}
{{#each users as |user| }}
<button id="user-btn" href="/users/{{user.id}}">{{user.name}}</button>
<section id="user-container">

</section>
{{/each}}
{{/if}}
<script src="/public/js/home.js"></script>

