<div class="flex col-sm-6">
    <div class="card p-1"> 
        <h3 class="title card-header">Log In!</h3>

        <form id="login-form" class="card-body">
            <div class="form-row">
                <h3>Name</h3>
                <input id="username" type="text" class="form-input" />
            </div>
            <div class="form-row">
                <h3>Password</h3>
                <input id="password" type="password" class="form-input" />
            </div>
            <div class="form-row">
                <button type="submit" class="btn btn-success btn-sm">Log In</button>
                <a class="btn btn-primary btn-sm" href="/sign-up">Don't Have An Account? Sign Up!</a>
            </div>
        </form>

    </div>
</div>
<script src="/js/login.js"></script>