<section>
    <form id="loginForm">
        <label for="email">Email</label>
        <input type="email" id="email">
        <label for="password">Password</label>
        <input type="password" id="password">
        <input type="submit" value="Login">
    </form>
</section>
<section>
    <form id="signUpForm">
        <label for="name">Name</label>
        <input type="text" id="name">
        <label for="email">Email</label>
        <input type="email" id="email">
        <label for="password">Password</label>
        <input type="password" id="password">
        <input type="submit" value="SignUp">
    </form>
</section>

<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="/js/login.js"></script>