<div class="flex col-sm-6">
    <div class="card p-2"> 
        <h3 class="title card-header">Sign up!</h3>

        <form id="sign-up-form" class="card-body" >
            <div class="form-row">
                <h3>Name</h3>
                <input id="username" type="text" class="form-input" />
            </div>
            <div class="form-row">
                <h3>Email</h3>
                <input id="email" type="email" class="form-input" />
            <div class="form-row">
                <h3>Password</h3>
                <input id="password" type="password" class="form-input" />
            </div>
            <div class="form-row">
                <button type="submit" class="btn btn-success btn-sm">Sign Up</button>
                <a class="btn btn-primary btn-sm" href="/login">Already Have An Account? Log In!</a>
            </div>
        </form>
    </div>
</div>

<script src="/js/sign-up.js"></script>